.sve{
    background-color: red;
    h1{
        background-color: gray;
    }
    p{
        color: tan;
    }
    .paragraf1{
        color: green;
        background-color: wheat;
        .slika{
            color: hotpink;
        }
    }
}